.principal-memory {
  height: 200px;
}

.principal-memory-container,
.data-memory-container {
  text-align: center;
}
.data-memory-container {
  width: 98%;
  height: auto;
}
.data-memory {
  width: 98%;
  height: 98%;
  font-size: 16px;
}

.data-memory tbody {
  height: 153px;
}
