.processor_instruccions {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: grid;
  grid-template-columns: 60% 40%;
  grid-template-rows: 60% 40%;
  font-size: 20px;
  font-weight: bold;
}

.instruccions,
.processor,
.memories-container {
  border: 1px solid white;
  border-radius: 10px;
  margin: 10px;
  padding: 10px;
}

.instruccions {
  height: 100%;
}

.processor {
  height: 100%;
}

.memories-container {
  margin: 20px 10px;
  height: 90%;
  width: 97vw;
}

.instruccions-area {
  height: 150px;
}

.run {
  color: #000;
  margin-top: 10px;
  width: 100%;
}
